<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mybrhtk.app">

    <!-- Internet -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Fullscreen video -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:label="MyBrHTK"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard|smallestScreenSize|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/LaunchTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

    </application>
</manifest>
